.text_expansion {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // align-self: start;
  position: relative;
}

.text_expansion_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 限制显示四行 */
  font-weight: 400;
  font-size: 30rpx;
  color: #000;
  line-height: 1.6;
}

.text_expansion_text_expand {
  max-height: none; /* 展开后不限制高度 */
  -webkit-line-clamp: 1000; /* 限制显示四行 */
  // padding-bottom: 30rpx;
  .textCon {
  }
}

.text_expansion_button {
  color: #7f7f7f; /* 设置按钮颜色 */
  cursor: pointer;
  font-size: 28rpx;
  text-align: end;
  // position: absolute;
  // right:2rpx;
  // bottom: 0;
  // padding: 0rpx 5rpx;
}
