.dynamic-detail {
  min-height: 100vh;
  background: #fff;

  .content {
    min-height: calc(100vh - 88rpx);
    padding: 0 24rpx;
    box-sizing: border-box;
  }

  .loading {
    display: flex;
    justify-content: center;
    padding: 80rpx 0;
  }
}
