.report{
  .form{
    padding: 32rpx;
    .label{
      font-weight: bold;
      font-size: 32rpx;
      color: #373737;
    }
    .van-cell{
      padding: 10rpx 0;
    }
    .iptClass{
      min-height: 360rpx;
    }
  }
  
}