/* pages_index/post_moments/index.wxss */
.post_moments {
  height: 100vh;

  .content {
    padding: 32rpx;

    .test {
      padding: 0 !important;

      textarea {
        line-height: 1.4;
        font-size: 32rpx;
      }
    }

    .imgs {
      // 使用grid布局，每行显示3个，允许换行最多会有9个
      margin-top: 30rpx;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 212rpx;
      grid-auto-flow: dense;
      grid-gap: 16rpx;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      z-index: 99;


      .item {
        width: 212rpx;
        height: 212rpx;
        border-radius: 16rpx;
        position: relative;

        .con {
          width: 100%;
          height: 100%;
          border-radius: 16rpx;
        }

        .play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .del {
          width: 30rpx;
          height: 30rpx;
          display: flex;
          justify-content: center;
          background-color: #000;
          border-radius: 50%;
          position: absolute;
          right: 0rpx;
          top: 6rpx;
          z-index: 99;
        }
      }

      .itemAdd {
        background: #F6F6F6;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }


    .labels {
      display: flex;
      margin-top: 32rpx;
      flex-wrap: wrap;

      .label {
        width: fit-content;
        padding: 12rpx 26rpx;
        padding-right: 16rpx;
        background-color: #EBEBEB;
        border-radius: 30rpx;
        margin-bottom: 14rpx;
        margin-right: 14rpx;
        display: flex;
        align-items: center;
        font-size: 24rpx;
        font-weight: 400;

        .tit {}

        .del {
          margin-left: 10rpx;
        }
      }

      .addLabel {
        font-weight: bold;
        font-size: 24rpx;
        color: #2B2B2B;
        padding: 12rpx 26rpx;
      }
    }
  }

  .btn {
    width: 178rpx;
    height: 64rpx;
    position: fixed;
    right: 32rpx;
    z-index: 9999;
    bottom: env(safe-area-inset-bottom);
    bottom: constant(safe-area-inset-bottom);

    .btnn {
      width: 178rpx;
      height: 64rpx;
    }
  }

  scroll-view ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
  }

  .list {
    max-height: 60vh;
    padding: 0 50rpx;
    box-sizing: border-box;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50rpx;

      .l {
        font-weight: bold;
        font-size: 28rpx;
        color: #2B2B2B;
      }

      .r {
        font-weight: 400;
        font-size: 24rpx;
        color: #8F8F8F;
      }
    }
  }
}