/**app.less**/
page {
    color: #4a4a4a;
}
view,
text,
button {
    // color: #4A4A4A;
    font-family: PingFang SC, PingFang SC;
    box-sizing: border-box;
}

.navbar {
    .van-icon-arrow-left {
        color: #000000 !important;
        font-size: 40rpx !important;
    }
    .van-nav-bar__title {
        font-weight: bold !important;
        font-size: 36rpx !important;
        color: #000000 !important;
    }
}

.popupTopBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80rpx;
    padding: 0 30rpx;
    .l {
        color: #969799;
    }
    .r {
        color: #576b95;
    }
}

.vandialogtip {
    max-height: 600rpx;
    padding: 0 14rpx;
    overflow: auto;
    font-size: 30rpx;
    line-height: 1.5;
    margin: 20rpx 0;

    .fw {
        font-weight: 600;
    }

    view.fw {
        margin: 6rpx 0;
    }

    .indent {
        text-indent: 2ch;
    }
}
