/* pages_register/select_sex/index.wxss */
.select_sex {
  .content {
    padding: 0 136rpx;
    margin-top: 220rpx;
    .tit {
      display: flex;
      width: 336rpx;
      height: 70rpx;
      margin: 0 auto;
    }

    .desc {
      font-weight: 400;
      font-size: 24rpx;
      color: #B7B7B7;
      text-align: center;
      margin-top: 32rpx;
      margin-bottom: 64rpx;
    }

    .con {
      display: flex;
      justify-content: space-between;
      .item1,.item2 {
        width: 200rpx;
        height: 200rpx;
        border-radius: 50%;
        border: 2rpx dashed  #C2C2C2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .s{
          position: absolute;
          bottom: -22rpx;
          width: 46rpx;
          height: 46rpx;
          background-color: #fff;
        }
        .c,.c2 {
          width: 116rpx;
          height: 116rpx;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .act1{
        border-color: #F6B0B0;
      }
      .act2{
        border-color: #A7B5F0;
      }
      .item1{
        .c{
          image{
            width: 55rpx;
            height: 76rpx;
          }
        }
        .c2{
          background-color: rgba(236,97,97, 0.2);
          image{
            width: 38rpx;
            height: 52rpx;
          }
        }
      }
      .item2{
        .c{
          image{
            width: 70rpx;
            height: 70rpx;
          }
        }
        .c2{
          background-color: rgba(79,108,225, 0.2);
          image{
            width: 50rpx;
            height: 50rpx;
          }
        }
      }
    }

    .sexs{
      padding: 0 40rpx;
      margin-top: 46rpx;
      display: flex;
      justify-content: space-between;
    }
  }
}