/* components/Article/index.wxss */
.article {
    position: relative;
    height: 36rpx;
    margin-right: 10rpx;
    .dots {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40rpx;
        height: 40rpx;
        .dot {
            width: 4rpx;
            height: 4rpx;
            background-color: #ff7e84;
            border-radius: 50%;
            position: absolute;
        }
        .dot:nth-child(1) {
            left: 16rpx;
            top: -5rpx;
            animation: dot1 1.3s forwards;
            @keyframes dot1 {
                0% {
                    transform: translateY(0) scale(1);
                }
                50% {
                    transform: translateY(-4rpx) scale(0.5); /* 先平移 */
                }
                100% {
                    transform: translateY(-4rpx) scale(0); /* 再缩放消失 */
                }
            }
        }
        .dot:nth-child(2) {
            left: 37.53rpx;
            top: 7.53rpx;
            animation: dot2 1.3s forwards;
            @keyframes dot2 {
                0% {
                    transform: translateX(0) scale(1);
                }
                50% {
                    transform: translateX(4rpx) scale(0.5); /* 先平移 */
                }
                100% {
                    transform: translateX(4rpx) scale(0); /* 再缩放消失 */
                }
            }
        }
        .dot:nth-child(3) {
            left: 37.53rpx;
            top: 27.53rpx;
            animation: dot3 1.3s forwards;
            @keyframes dot3 {
                0% {
                    transform: translateX(0) scale(1);
                }
                50% {
                    transform: translateX(4rpx) scale(0.5); /* 先平移 */
                }
                100% {
                    transform: translateX(4rpx) scale(0); /* 再缩放消失 */
                }
            }
        }
        .dot:nth-child(4) {
            left: 24rpx;
            top: 38rpx;
            animation: dot4 1.3s forwards;
            @keyframes dot4 {
                0% {
                    transform: translateY(0) scale(1);
                }
                50% {
                    transform: translateY(4rpx) scale(0.5); /* 先平移 */
                }
                100% {
                    transform: translateY(4rpx) scale(0); /* 再缩放消失 */
                }
            }
        }
        .dot:nth-child(5) {
            left: 7.47rpx;
            top: 38rpx;
            animation: dot5 1.3s forwards;
            @keyframes dot5 {
                0% {
                    transform: translateY(0) scale(1);
                }
                50% {
                    transform: translateY(4rpx) scale(0.5); /* 先平移 */
                }
                100% {
                    transform: translateY(4rpx) scale(0); /* 再缩放消失 */
                }
            }
        }
        .dot:nth-child(6) {
            left: -6rpx;
            top: 7.47rpx;
            animation: dot6 1.3s forwards;
            @keyframes dot6 {
                0% {
                    transform: translateX(0) scale(1);
                }
                50% {
                    transform: translateX(-4rpx) scale(0.5); /* 先平移 */
                }
                100% {
                    transform: translateX(-4rpx) scale(0); /* 再缩放消失 */
                }
            }
        }
        .dot:nth-child(7) {
            left: -6rpx;
            top: 27.53rpx;
            animation: dot7 1.3s forwards;
            @keyframes dot7 {
                0% {
                    transform: translateX(0) scale(1);
                }
                50% {
                    transform: translateX(-4rpx) scale(0.5); /* 先平移 */
                }
                100% {
                    transform: translateX(-4rpx) scale(0); /* 再缩放消失 */
                }
            }
        }
    }
    .img1,
    .img2 {
        width: 36rpx;
        height: 36rpx;
    }
    .img1 {
        animation: scale 0.5s forwards;
    }
    .img2 {
        animation: scale 0.5s forwards;
    }
    @keyframes scale {
        0% {
            transform: scale(0.6);
        }
        100% {
            transform: scale(1);
        }
    }
}
