/* components/Empty/index.wxss */
.empty {
  width: clac(100vw - 64rpx);
  height: 60vh;
  position: relative;

  image {
    width: 267rpx;
    height: 167rpx;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .s {
    position: absolute;
    left: 50%;
    top: calc(50% + 127rpx);
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
    color: #C9C9D0;
  }

  .btn {
    position: absolute;
    left: 50%;
    top: calc(50% + 207rpx);
    transform: translate(-50%, -50%);
    width: 392rpx;
    height: 84rpx;
    background: #2B2B2B;
    border-radius: 42rpx 42rpx 42rpx 42rpx;
    font-weight: 400;
    font-size: 28rpx;
    color: #FFFFFF;
    text-align: center;
    line-height: 84rpx;
  }
}