/* pages_register/register/signature/index.wxss */
.signature {
  .form {
    padding: 0 32rpx 32rpx 32rpx;

    .label {
      font-weight: bold;
      font-size: 32rpx;
      color: #373737;
    }

    .desc {
      color: #747474;
      font-size: 28rpx;
      margin-top: 6rpx;
    }

    .van-cell {
      padding: 10rpx 0;
    }

    .iptClass {
      min-height: 43vh;
      line-height: 1.5em;
      font-size: 32rpx;
    }

    .iptClass[type='text'] {
      -webkit-appearance: none;
      appearance: none;
    }

    .iptClass2 {
      min-height: 68vh;
      line-height: 1.5em;
    }
  }

}